<section class="p-6 pt-12 max-md:pt-4">
  <div id="section-1"  class="p-4 py-8 flex flex-row items-center gap-12">
    <div id="content">
     <div id="heading" class="py-3">
        <h1 class="text-4xl font-bold max-md:text-2xl ">Lorem ipsum dolor sit amet.</h1>
        <p class="py-3 text-gray-500">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro
          mollitia, fugiat blanditiis esse provident veniam rerum illum hic nihil
          officia velit natus?
        </p>
     </div>
      <hr>
      <ul class="py-6">
        <li><i class="fa-solid fa-circle-check text-[--primary-color] m-2"></i>Continuous integration and deployment</li>
        <li><i class="fa-solid fa-circle-check text-[--primary-color] m-2"></i>Development workflow</li>
        <li><i class="fa-solid fa-circle-check text-[--primary-color] m-2"></i>Knowledge management</li>
      </ul>
      <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aut? Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <img class="w-[36rem] max-lg:hidden"
      src="https://demo.themesberg.com/landwind/images/feature-1.png"
      alt=""
    />
  </div>

  <div id="section-2" class="p-4 py-8 flex flex-row items-center gap-12">
    <img class="w-[36rem] max-lg:hidden"
      src="https://demo.themesberg.com/landwind/images/feature-2.png"
      alt=""
    />
    <div id="content">
        <div id="heading" class="py-3">
           <h1 class="text-4xl font-bold max-md:text-2xl ">Lorem ipsum dolor sit amet.</h1>
           <p class="py-3 text-gray-500">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro
             mollitia, fugiat blanditiis esse provident veniam rerum illum hic nihil
             officia velit natus?
           </p>
        </div>
         <hr>
         <ul class="py-6">
           <li><i class="fa-solid fa-circle-check text-[--primary-color] m-2"></i>Continuous integration and deployment</li>
           <li><i class="fa-solid fa-circle-check text-[--primary-color] m-2"></i>Development workflow</li>
           <li><i class="fa-solid fa-circle-check text-[--primary-color] m-2"></i>Knowledge management</li>
           <li><i class="fa-solid fa-circle-check text-[--primary-color] m-2"></i>Continuous integration and deployment</li>
           <li><i class="fa-solid fa-circle-check text-[--primary-color] m-2"></i>Development workflow</li>
         </ul>
         <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aut? Lorem ipsum dolor sit amet consectetur.</p>
       </div>
  </div>
</section>
