<main class="p-6  pt-32 max-md:p-2 flex flex-row justify-between gap-5 items-center">
    <div class="p-6 my-12 max-md:mt-24 max-md:mb-0">
        <h1 class=" max-w-xl text-7xl  max-lg:text-5xl">Lorem ipsum dolor sit amet.</h1>
        <p class="py-2 w-11/12 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis doloribus voluptatem repellat molestias aliquid ratione magni a, deserunt rerum quas accusamus inventore labore earum. Maiores.</p>
        <button class="mt-2 p-2 px-3 text-white rounded-md bg-[--primary-color]">Get Started</button>
    </div>
    <div class="pr-12  max-md:hidden">
        <img src="https://demo.themesberg.com/landwind/images/hero.png" alt="">
    </div>
</main>
