/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color:#7E3AF2;
    --primary-color-hover:#6421d9
}
body,html{
    min-width: 100vw;
    overflow-x: hidden;
    user-select: none;
}